* {
	margin: 0;
	padding: 0;
}

:root {
	--std-margin-padding: 2em;
}

html {
	box-sizing: border-box;
}

body {
	background: black;
}

canvas {
	position: relative;
	top: 0;
	left: 0;
}

section {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	max-width: 100%;
  margin: var(--std-margin-padding);
}

ul {
	list-style: none;
  display: flex;
  flex-direction: column;

	li {
		margin-top: .5em;
    background: #fff1;
	}

	button {
		background: none;
		color: white;
		border: none;
		font-size: 2em;
    width: 100%;
    text-align: start;
    padding: .5em;

		&:hover,
		&:focus {
			background: #fff5;
      cursor: pointer;
		}
	}
}
