/* ********** */
/* CARROUSEL */
/* ******** */

.scene {
    transform-style: preserve-3d;

    display: flex;
    justify-content: end;
    align-items: start;

    padding: 6em 4em;
}

.scene__carrousel {
    transform-style: preserve-3d;
    transform: 
    rotateX(75deg)
    rotateZ(-45deg)
    /* translateY(5em) */
    translateX(-35em)
    /* translateZ(15em) */
    ;

    /* background: #fff5; */
}

.scene__slide {
    transition: .2s;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    margin: -10em;

    display: grid;
    place-items: center;
    position: relative;

    /* background-color: transparent; */

    &:before,
    &:after {
        content: "";
        position: absolute;

        top: -100em;

        width: 2px;
        height: 100em;
        background-color: #fff8;
    }

    &:before {
        left: 1em;
    }

    &:after {
        right: 1em;
    }

    &:hover {
        transform: 
            rotateX(-90deg)
            translateY(-2em)
            ;
    }
}

.scene__slide div {    
    grid-area: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Front */
.scene__slide__plane__front {
    width: var(--slide-width);
    height: var(--slide-height);

    position: relative;
    transform: translateZ(calc(var(--slide-depth) / 2));

    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: #d44040;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Back */
.scene__slide__plane__back {
    width: var(--slide-width);
    height: var(--slide-height);

    transform: rotateY(180deg) translateZ(calc(var(--slide-depth) / -2));

    /* box-shadow: 0 0 2em #0008; */
}

/* Left */
.scene__slide__plane__left {
    width: var(--slide-depth);
    height: var(--slide-height);

    position: relative;
    transform: rotateY(90deg) translateZ(calc(var(--slide-width) / -2));

    /* padding: .8em; */

    background-color: #FFFFFF;
}

/* Right */
.scene__slide__plane__right {
    width: var(--slide-depth);
    height: var(--slide-height);

    transform: rotateY(-90deg) translateZ(calc(var(--slide-width) / -2));
}

/* Top */
.scene__slide__plane__top {
    width: var(--slide-width);
    height: var(--slide-depth);

    transform: rotateX(-90deg) translateZ(calc(var(--slide-height) / -2));

    background-color: #DC6A01;
}

/* Bottom */
.scene__slide__plane__bottom {
    width: var(--slide-width);
    height: var(--slide-depth);

    transform: rotateX(90deg) translateZ(calc(var(--slide-height) / -2));
    background-color: #DC6A01;
}