@import 'font.css';
@import 'layout.css';
@import 'positioning.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(64, 64, 64);
    --background-color: black;

    --z-index-base: 700;
    --z-index-leg-1: 600;
    --z-index-leg-2: 500;
    --z-index-leg-3: 400;
    --z-index-leg-4: 300;
    --z-index-leg-5: 200;
    --z-index-leg-6: 100;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}