/* ***** */
/* MENU */
/* *** */

.scene {
    transform-style: preserve-3d;

    display: flex;
    justify-content: end;
    align-items: start;

    padding: 6em 4em;
}

.scene__menu {
    transform-style: preserve-3d;
    transform: 
        rotateX(0deg) 
        rotateY(270deg) 
        translateX(10em)
        translateY(-15em)
    ;

    position: absolute;
    left: 10%;
    top: 90%;

    display: grid;
    place-items: center;

    border: none;

    background-color: transparent;
}

.scene__menu div {    
    grid-area: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Front */
.scene__menu__plane__front {
    width: var(--menu-width);
    height: var(--menu-height);

    position: relative;
    transform: translateZ(calc(var(--menu-depth) / -2));

    display: flex;
    flex-direction: column;

    background-color: #BC2A2A;
}

.scene__menu__plane__front p {
    font-size: 1.6em;
}

.scene__menu__plane__front__submenu {
    width: 100%;
    height: 0;
    
    position: absolute;
    left: 0;
    top: 5em;

    display: flex;
    flex-direction: column;

    background-color: #BC2A2A;
    
    transition: height .5s ease;
}

.scene__menu__plane__front__submenu li {
    height: 6em;
    opacity: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    transition: opacity .3s ease;
}

.scene__menu__plane__front__submenu li:hover {
    background-color: #A62828;
}

.scene__menu__plane__front__submenu li a {
    font-size: 1.6em;
}

.scene__menu__plane__front__submenu.toggle-menu {
    height: 20em;
}

.scene__menu__plane__front__submenu.toggle-menu li {
    opacity: 1;
}

/* Back */
.scene__menu__plane__back {
    width: var(--menu-width);
    height: var(--menu-height);

    transform: rotateY(180deg) translateZ(calc(var(--menu-depth) / -2));
}

/* Left */
.scene__menu__plane__left {
    width: var(--menu-depth);
    height: var(--menu-height);

    position: relative;
    transform: rotateY(90deg) translateZ(calc(var(--menu-width) / -2));

    padding: .8em;

    background-color: #FFFFFF;
}

.scene__menu__plane__left img {
    width: 100%;
}

.scene__menu__plane__left__extension {
    width: 100%;
    height: 0;
    
    position: absolute;
    left: 0;
    top: 5em;

    background-color: white;
    
    transition: height .5s ease;
}

.scene__menu__plane__left__extension.toggle-menu {
    height: 20em;
}

/* Right */
.scene__menu__plane__right {
    width: var(--menu-depth);
    height: var(--menu-height);

    transform: rotateY(-90deg) translateZ(calc(var(--menu-width) / -2));
}

/* Top */
.scene__menu__plane__top {
    width: var(--menu-width);
    height: var(--menu-depth);

    transform: rotateX(-90deg) translateZ(calc(var(--menu-height) / -2));

    background-color: #DC6A01;
}

/* Bottom */
.scene__menu__plane__bottom {
    width: var(--menu-width);
    height: var(--menu-depth);

    transform: rotateX(90deg) translateZ(calc(var(--menu-height) / -2));
}