#over-ons {
    --text-height: 80vh;

    /* background-color: #fff5; */
    width: 100%;
    position: relative;
    /* margin-top: 10em; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* transform: translateY(10em); */

    @media (prefers-reduced-motion: no-preference){
        transition: var(--page-transition);
    }

    h2 {
        margin-bottom: .5em;
    }

    a {
        display: block;

        &:hover, &:focus-visible {
            background-color: #fff5;
        }
    }
}

/* ******************* */
/* VRIENDEN VAN DMMDH */
/* ***************** */

.vrienden-text {
    /* background-color: #0006; */
    max-width: 40em;
    height: var(--text-height);
    font-size: 1.5em;
    overflow-y: scroll;
    margin-top: 5em;

    transform-style: preserve-3d;
    transform:
        rotateX(-15deg)
        rotateY(-45deg);

    color: var(--tertiary-color);

    ul {
        list-style: none;
    }
}

.vrienden-text h3 {
    margin-top: 1em;
}

.vrienden-text li p {
    margin: 0;
}

/* ********* */
/* OVER ONS */
/* ******* */

.over-ons-text {
    /* background-color: #0006; */
    max-width: 40em;
    height: var(--text-height);
    font-size: 1.5em;
    overflow-y: scroll;
    margin-top: 2em;

    transform-style: preserve-3d;
    transform:
        rotateX(15deg)
        rotateY(-45deg);

}

.over-ons-text h2 {
    margin-top: 1em;
}

/* scrollbar */
.over-ons-text, .vrienden-text {
    scrollbar-width: thin;
    scrollbar-color: #0005 transparent;
}

/* klein scherm */
@media (max-width: 600px) {
    .vrienden-text, .over-ons-text {
        position: relative;
        transform: none;
        overflow: unset;
        height: max-content;
        margin: 0;
    }

    #over-ons {
        display: flex;
        flex-direction: column;

        overflow-y: scroll;
        height: 100vh;
        padding: 2em;
        font-size: 1em;
        gap: 5em;
    }
}