.dialog {
    --dialog-padding-size: 2em;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80dvw;
    height: 80dvh;
    transform: translate(10dvw, 10dvh);
    background-color: color-mix(in srgb, var(--dark), transparent 50%);
    border: none;
}

dialog[open]{
    display: flex;
}

.dialog .close-btn{
    position: absolute;
    aspect-ratio: 1;
    width: 3em;
    top: var(--dialog-padding-size);
    right: var(--dialog-padding-size);
    z-index: 99;
    cursor: pointer;
    border-radius: 50%;
    border: .15em solid color-mix(in srgb, var(--light), transparent 20%);
    background-color: transparent;
    
    @media (prefers-reduced-motion: no-preference){
        transition: var(--transition-base);
    }

    &:hover{
        background-color: var(--dark);

        span{
            rotate: 1turn;
        }
    }


    span{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (prefers-reduced-motion: no-preference){
            transition: var(--transition-base);
        }

        &::before,
        &::after{
            content: '';
            position: absolute;
            background-color: color-mix(in srgb, var(--light), transparent 20%);
            height: 50%;
            width: .15em;
            border-radius: 1em;
        }

        &::before{
            rotate: 45deg;
        }

        &::after{
            rotate: -45deg;
        }
    }
}

.dialog h2{
    position: absolute;
    top: calc(var(--dialog-padding-size) / 2);
    font-size: clamp(1em, 4vw, 3em);
}

.dialog a{
    text-decoration: 2px solid underline;

    @media (prefers-reduced-motion: no-preference){
        transition: var(--transition-base);
    }

    &:hover{
        text-decoration: 2px double underline;
        opacity: 0.6;
    }
}

.dialog-content-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    bottom: calc(var(--dialog-padding-size) / 2);
}

.additional-info{
    display: flex;
    gap: 1em;
}

.data_pop-up {
    display: none;
}

.additional-images{
    height: 70%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    overflow-x: scroll;
    transform: translateY(5%);
    justify-content: space-evenly;
    gap: 1em;

    scrollbar-color: white transparent;
    scrollbar-width: thin;

    /* @media (min-width: 1000px){
        width: 50%;
    } */
}

.additional-images img{
   height: 100%;
   /* width: auto; */
   object-fit: contain;
}