*:not(.stage-leg-1, .stage-leg-2, .stage-leg-3, .stage-leg-4, .stage-leg-5, .stage-leg-6){
    z-index: var(--z-index-base);
}

.stage-leg-1,
.stage-leg-2,
.stage-leg-3,
.stage-leg-4,
.stage-leg-5,
.stage-leg-6{
    position: absolute;
    aspect-ratio: 2/1.5;
    border-radius: 1rem;
}

.stage-leg-1{
    z-index: var(--z-index-leg-1);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 80%);
    width: 80vw;
}

.stage-leg-2{
    z-index: var(--z-index-leg-2);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 70%);
    width: 70vw;

}

.stage-leg-3{
    z-index: var(--z-index-leg-3);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 60%);
    width: 65vw;

}

.stage-leg-4{
    z-index: var(--z-index-leg-4);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 50%);
    width: 60vw;
}

.stage-leg-5{
    z-index: var(--z-index-leg-5);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 40%);
    width: 55vw;
}

.stage-leg-6{
    z-index: var(--z-index-leg-6);
    border: 5px solid color-mix(in srgb, var(--primary-color), white 30%);
    width: 50vw;
}